
.message-container {
    flex-grow: 1;
    overflow-y: auto;
}

.send-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: sticky;
    bottom: 0;
    background-color: white;
    padding: 10px;
}

.send-input {
    line-height: 1.2;
    resize: none;
    flex-grow: 1;
    margin-right: 10px;
}

.send-button {
    padding: 10px 20px;
}

